{
  "presets": [ "es2015", "react" ],
  "plugins": [ "transform-runtime" ],
  "env": {
    // only enable it when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "presets": [ "react-hmre" ]
    }
  }
}
